* {
	margin: 0;
	padding: 0;

}

body{
}

div{
	width:11vmin;
	height:11vmin;
	float:left;
	text-align:center;
	line-height:11vmin;
	font-family:Verdana;
	font-size:1vmin;
	font-weight:bold;
	color:white;
	overflow:hidden;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.black{
	background-color:black;
	color:black;
}

.white{
	background-color:white;
	color:black;
}

.floating{
	clear:both;
}