* {
	
}

body {
	background-image: url("icecream.gif");
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	width: 100vw;
}

#summary {
	margin-top: 2vh;
	border: 5px solid black;
	height: 40vh;
}

#preis {
	margin-left: 1vw;
}

#summary div {
	float: left;
	height: 35vh;
	width: 32.3vw;
	border: 1px solid black;
}

fieldset {
	margin: 0;
	padding: 0;
}

#flavours {
	opacity: 0.8;
	float: left;
	background-color: #ff9f71;
	height: 44vh;
	width: 31vw;
	padding-top: 3vh;
	padding-left: 3vw; font-size : 1.3vmax;
	border: 0px solid black;
	font-size: 1.3vmax;
}

#cups {
	margin-left: 1vw; float : left;
	background-color: lightblue;
	height: 47vh;
	width: 33vw;
	border: 0px solid black;
	border-radius: 15px 0px 0px 15px;
	float: left;
}

#toppings {
	background-color: lightgreen;
	height: 40vh;
	width: 30vw;
	padding-top: 7vh;
	padding-left: 1vw;
	padding-left: 1vw;
	border: 0px solid black;
	border-radius: 0px 15px 15px 0px;
}

#flavours label {
	
}

#flavours div {
	width: 13vw;
	float: left;
	padding-left: 2vw;
}

#topping{
	float:right;
	margin-right:4vw;
}