* {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

#flavours {
	float: left;
	background-color: #ff9f71;
	height: 18vh;
	width: 32vw;
	padding-top: 7vh;
	padding-left: 1vw;
	font-size: 1.1em;
}

#cups {
	float: left;
	background-color: lightblue;
	height: 25vh;
	width: 33vw;
	background-color: lightblue;
}

#toppings {
	margin-top: 35vh;
	background-color: lightgreen;
	height: 25vh;
	width: 33vw;
	background-color: lightgreen;
}

#flavours label {
	margin-left: 1vw;
}

#flavours div {
	width: 13vw;
	float: left;
	padding-left: 2vw;
}

