* {
	
}

body {
	background-image: url("icecream.gif");
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	width: 100vw;
}

#summary {
	margin-top: 2vh;
	height: 40vh;
	margin-left: 4vw;
}



#preisWrapper {
	float: left;
	height: 35vh;
	width: 31vw;
	background-color: #BECFD9;
	opacity: 0.8;
	padding-top: 4vh;
}

#order {
	float: left;
	height: 35vh;
	width: 31vw;
	background-color: #BECFD9;
	opacity: 0.8;
	padding-top: 4vh;
}

#contact {
	float: left;
	height: 35vh;
	width: 31vw;
	background-color: #BECFD9;
	opacity: 0.8;
	padding-top: 4vh;
}

fieldset {
	margin: 0;
	padding: 0;
}

#flavours {
	opacity: 0.8;
	float: left;
	background-color: #ff9f71;
	height: 44vh;
	width: 31vw;
	padding-top: 3vh;
	padding-left: 3vw;
	font-size: 1.3vmax;
	border: 0px solid black;
	font-size: 1.3vmax;
}

#cups {
	margin-left: 1vw;
	float: left;
	background-color: lightblue;
	height: 47vh;
	width: 33vw;
	border: 0px solid black;
	border-radius: 15px 0px 0px 15px;
	float: left;
}

#toppings {
	background-color: lightgreen;
	height: 40vh;
	width: 30vw;
	padding-top: 7vh;
	padding-left: 1vw;
	padding-left: 1vw;
	border: 0px solid black;
	border-radius: 0px 15px 15px 0px;
}

#flavours label {
	
}

#flavours div {
	width: 13vw;
	float: left;
	padding-left: 2vw;
}

#topping {
	float: right;
	margin-right: 9vw;
}

#order table {
	margin-top: 1vh;
	margin-left: 1vw;
	min-width: 30vw;
	max-width: 30vw;
	line-height: 30px;
}

#contact table {
	min-width: 20vw;
	max-width: 20vw;
	line-height: 30px;
}

#contact {
	text-align: center;
	border: none;
}

#contact td:nth-child(odd) {
	text-align: left;
}



#center {
	display:flex;
	justify-content:center;
}

#sendbutton{
	margin-top:3vh;
	padding-top:2vh;
	padding-bottom:2vh;
	width: 50%;
	margin-left:25%;
	background-color:red;
}

#sendbutton:hover{
	opacity:0.7;
}

#preisWrapper{
	font-size: 3vmax;
}

#preis{
margin-top:15%;
margin-left:25%;
}