* {
	margin: 0;
	padding: 0;
}

body{
	margin:0;
}
div{
	width:200px;
	height:200px;
	float:left;
	text-align:center;
	line-height:200px;
	font-family:Verdana;
}

.black{
	background-color:black;
	color:white;
}

.white{
	background-color:white;
	color:black;
}

.floating{
	clear:both;
}