* {
	font-family: 'Arial';
}

body {
	margin: 0;
	padding: 0;
}

#game {
	float: left;
	border-style: solid;
	border-color: blue;
	border-width: 0px 1px 0px 0px;
}

#optionbox {
	float: left;
	border-style: solid;
	border-color: blue;
	border-width: 0px 1px 1px 0px;
	background-color: lightblue;
	height: 799px;
	width: 199px;
}

#status{
	background-color: #5e99fd;
	padding-left: 20px;
	padding-top: 10px;
	line-height: 1.5em;
	padding-bottom: 10px;
}

#upgrades {
	width: 200px;
}

#damageUp {
	color: white;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	height: 50px;
	background-color: #000000;
	border-style: solid;
	border-color: blue;
	border-width: 0px 1px 1px 0px;
}

#rotationUp {
	color: white;
	padding-top: 10px;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #000000;
	border-style: solid;
	border-color: blue;
	border-width: 0px 1px 0px 0px;
}

.imgRes {
	display: none;
}

#loginCred {
	margin-top: 20px;
	width: 200px;
	height: 300px;
	clear: both;
	text-align: center;
}

#loginCred button {
	margin-top: 10px;
	height: 30px;
	width: 150px;
}

button {
	width: 200px;
	height: 50px;
}

#freezeWave {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#credit {
	clear: both;
}

#mute {
	text-align: center;
}