* {
	font-family: 'Arial';
}

body {
	margin: 0;
	padding: 0;
}

#game {
	float: left;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 0px 0px;
}

#optionbox {
	float: left;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
	background-color: lightblue;
	height: 800px;
	width: 250px;
}

#status {
	background-color: #5e99fd;
	padding-left: 20px;
	padding-top: 10px;
	line-height: 1.5em;
	padding-bottom: 10px;
	height: 170px;
}

#upgrades {
	width: 250px;
}

#damageUp {
	color: white;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	height: 50px;
	background-color: #000000;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
}

#rotationUp {
	color: white;
	padding-top: 10px;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #000000;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 0px 0px;
}

.imgRes {
	display: none;
}

#loginCred {
	margin-top: 10px;
	width: 250px;
	height: 257px;
	clear: both;
	text-align: center;
}

#loginCred button {
	margin-top: 10px;
	height: 30px;
	width: 150px;
}

button {
	width: 250px;
	height: 50px;
	background-color: #0080ff;
	border: none;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px 1px 0px;
}

#freezeWave {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#credit {
	width: 400px;
	margin-top: 10px;
	
	
}

#mute {
	text-align: center;
}

#additional{
	
	clear: both;
}

#bugtracker{
	float: left;
	width: 400px;
	margin-left:20px;
}